.city {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.city-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.city-title p {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    margin-top: 50px;
    color: #262626;
}

.city-table {
    width: 100%;
    overflow-x: auto;
}

.city-table-format {
    display: grid;
    grid-template-columns: 2fr 2fr 2.4fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.city-table-format.title {
    background-color: #f9f9f9;
    font-weight: bold;
}

/* Cities.css */
.city-title-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.city-title p {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #262626;
    margin-right: 20px;
    /* Add some space between the title and the search input */
}

.city-search {
    flex-grow: 1;
}

.city-search input {
    width: 100%;
    padding: 10px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    margin: 0 2px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #e0e0e0;
}

.pagination-button.active {
    background-color: tomato;
    color: white;
}

.pagination-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
}

.pagination-button:disabled:hover {
    background-color: #e0e0e0;
}