.food-display {
    margin-top: 100px;
}

.food-display h2 {
    font-size: max(2vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination-button {
    margin: 0 2px;
    padding: 8px 12px;
    border: 1px solid #cacaca;
    background-color: #f9f9f9;
    font-size: 13px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #e0e0e0;
}

.pagination-button.active {
    background-color: tomato;
    color: white;
}

.pagination-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    border: 1px solid #d0d0d0;
}

.pagination-button:disabled:hover {
    background-color: #e0e0e0;
}