.food-display {
    margin-top: 50px;
    position: relative;
    padding-top: 60px;
}

.food-display h2 {
    font-size: max(1.6vw, 24px);
    font-weight: 600;
}

.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.back-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fe775f;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.back-arrow:hover {
    background-color: tomato;
}