.add {
    width: 70%;
    margin-left: max(5vw, 25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}

.add form {
    gap: 20px;
}

.add-category-name {
    width: max(40%, 280px);
}

.add-category-name input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.add-category-name input:focus {
    outline: none;
    border-color: #333;
}

.add-category-name,
.add-category-description {
    width: max(40%, 280px);
}

.add-category-name input,
.add-category-description textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.add-btn {
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.add-category-name input:focus,
.add-category-description textarea:focus {
    outline: none;
    border-color: #333;
}