.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    color: white;
    position: relative;
}

.logo {
    width: max(30%, 150px);
}

.tabs {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin-left: 80px;
    overflow-x: auto;
    overflow-y: hidden;
}

.tabs-inner {
    display: flex;
}

.tab {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #a9a9a9;
    border-radius: 20px;
    margin: 0 5px;
    padding: 5px 10px;
    color: black;
    flex-shrink: 0;
    transition: background-color 0.6s ease-in-out;
}

.tab:hover {
    background-color: #FFF0ED;
}

.tab.active {
    background-color: #FFF0ED;
    border: 1px solid #FF6347;
}

.tab-link {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.close-tab {
    background: none;
    border: none;
    color: black;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: color 0.3s;
}

.close-tab:hover {
    color: #e74c3c;
}