.country {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.country-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.country-title p {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    margin-top: 50px;
    color: #262626;
}

.country-table {
    width: 100%;
    overflow-x: auto;
}

.country-table-format {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.country-table-format.title {
    background-color: #f9f9f9;
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

/* Countries.css */
.country-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.country-title p {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    color: #262626;
}

.country-search {
    display: flex;
    justify-content: flex-end;
}

.country-search input {
    padding: 10px;
    border: 1px solid #a9a9a9;
    border-radius: 4px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
}

.pagination-button {
    margin: 0 2px;
    padding: 8px 12px;
    border: 1px solid #cacaca;
    background-color: #f9f9f9;
    font-size: 13px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #e0e0e0;
}

.pagination-button.active {
    background-color: tomato;
    color: white;
}

.pagination-button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    border: 1px solid #d0d0d0;
}

.pagination-button:disabled:hover {
    background-color: #e0e0e0;
}

.confirm-modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.confirm-modal-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm-modal-button:hover {
    background-color: #e0e0e0;
}

.edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.edit-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.edit-modal-content h2 {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: flex-start;
}

.edit-modal-content input {
    padding: 10px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    width: 100%;
}