.category {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.category-table {
    width: 100%;
    overflow-x: auto;
}

.category-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.category-title p {
    margin: 0;
    font-size: 17px;
    font-weight: 600;
    margin-top: 50px;
    color: #262626;
}

.category-table-format {
    display: grid;
    grid-template-columns: 0.5fr 0.4fr 1.5fr 0.4fr;
    align-items: center;
    gap: 120px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.edit-category-image {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}

.edit-category-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.category-table-format.title {
    background-color: #f9f9f9;
}

.category-table-format img {
    width: 50px;
    border-radius: 10%;
}

#category-edit-desc {
    height: 165px;
}